*{
	margin: 0;
	padding:0;
	list-style:none;
	text-decoration: none;
	font-family: Segoe UI, Arial, sans-serif;
	font-size: 14px;
	color: #000;
}

.clear{
	clear: both;
}

.wrapper{
	width: 1000px;
	max-width: 96%;
	margin: 0 auto;
}

.top{
	width: 100%;
	height: auto;
	margin: 30px 0;
}

.top h1{
	font-size: 27px;
	font-weight: lighter;
	letter-spacing: -1px;
	color: #4a4a4a;
}

.top img {
	margin: 0 10px -3px 0;
}	

.content p{
	font-size: 14px;
	color: #a4a4a4;
	padding: 4px;
	margin: 15px 0;
}

.content ul{
	float: left;
	width: 100%;
}

.content ul:nth-child(odd) {
	background:#f2f2f2;
}

.content ul:nth-child(even) {
	-moz-box-shadow: inset 0 0 1px #ddd;
	-webkit-box-shadow: inset 0 0 1px #ddd;
	-o-box-shadow: inset 0 0 1px #ddd;
	box-shadow: inset 0 0 1px #ddd;
}

.content li{
	line-height: 25px;
	width: 21%;
	float: left;
	padding: 2%;
}

.content ul li a:hover{
	color: #057;
}

#result{
    display: none;
    color: #555;
    background-color: #f2f2f2;
    font-weight: 600;
    border: 1px solid #ccc;
    width: 50%;
    margin: 0 auto;
    padding: 10px 10px;
}

.top h1 a{
	font-size: 12px;
	font-style: italic;
	color: #a4a4a4;
	text-shadow: none;	    vertical-align: top;    
}

.top h1 a:hover{
	text-decoration: underline;	
}

.content{
	width: 100%;
	height: auto;
	min-height: 270px;
	background: #fff;
	border-top: 1px dashed #eee;
	text-align: center;	
}

.footer{
	width: 100%;
	margin-top: 30px;
	padding: 40px 0;
	text-align: center;
	border-top: 1px dashed #eee;
}
.footer h6{
	color: #4a4a4a;
	font-size: 16px;
}

#fileNameSel {
    display: none;
}
/*========================== ESTILIZAÃ‡ÃƒO DE LINKS ===============================*/
.content-links{
	padding: 0px 0px;
}
.links_efeito ul li a {
	position: relative;
	outline: none;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}
.links_efeito ul li a {
	color: #8EBAD6;
	text-shadow: none;
	font-size: 14px;
	padding: 2px 0;
}

.links_efeito ul li a::before {
	color: #057;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.links_efeito ul li a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #057;
	opacity: 0;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.links_efeito ul li a:hover::before,
.links_efeito ul li a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-2px);
}

.links_efeito ul li a:hover::after,
.links_efeito ul li a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.addClass-cor{
	color: #057 !important;
}
