*{
	margin: 0;
	padding:0;
	list-style:none;
	text-decoration: none;
	font-family: helvetica;
}

body{
	background: #fafafa;
}

.clear{
	clear:both;
}

.wrapper{
	width:1000px;
	max-width:96%;
	margin:0 auto;
}

.top{
	width:100%;
	height:auto;
	margin:30px 0 10px 0;
}

.top h1{
	font-size:35px;
	font-weight:lighter;
	letter-spacing:-1px;
	color:#4192d4;
	text-shadow:0 1px 0 #000;
}

.content p{
	font-size:14px;
	color:#777;
	padding:4px;
	margin-top:10px;
}

.content ul{
	margin:20px;
	float:left;
}

.content li{
	line-height:25px;
}

/*.content ul li a{
	color:#057;
	font-size:14px;
}
*/
.content ul li a:hover{
	color: #057;
}

#result{
    display: none;
    color: #555;
    background-color: #f2f2f2;
    font-weight: 600;
    border: solid #ccc 1px;
    width: 50%;
    margin: 0 auto;
    padding: 10px 10px;
}

.top h1 a{
	font-size:12px;
	font-style:italic;
	color:#aaa;
	text-shadow:none;	
}

.top h1 a:hover{
	text-decoration:underline;	
}

.content{
	width:100%;
	height:auto;
	min-height:270px;
	background: #fff;
	border:1px solid #ddd;
	border-top:1px dashed #fff;
	text-align:center;	
}

.footer{
	width:100%;
	height:200px;
	border:1px solid #ccc;
	border-bottom:2px solid #4192d4;
	background: #e4e4e4 url(../img/bg.png);
}
.footer h6{
	color: #3498db;
	float: right;
	font-size: 16px;
	margin: 175px 10px 0 0;
}

#fileNameSel {
    display: none;
}
/*========================== ESTILIZAÇÃO DE LINKS ===============================*/
.content-links{
	padding:0 35px;
}
.links_efeito ul li a {
	position: relative;
	outline: none;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}
.links_efeito ul li a {
	color: #8EBAD6;
	text-shadow: none;
	font-size:14px;
	padding: 2px 0;
}

.links_efeito ul li a::before {
	color: #057;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.links_efeito ul li a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #057;
	opacity: 0;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.links_efeito ul li a:hover::before,
.links_efeito ul li a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-2px);
}

.links_efeito ul li a:hover::after,
.links_efeito ul li a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.addClass-cor{
	color: #057 !important;
}