*{
	margin: 0;
	padding:0;
	list-style:none;
	text-decoration: none;
}

body{
	background: #fafafa;
}

h1, h2, h3,p,a{
	font-family:helvetica;
}

.clear{
	clear:both;
}

.wrapper{
	width:1000px;
	max-width:96%;
	margin:0 auto;
}

.top{
	width:100%;
	height:auto;
	margin:30px 0 10px 0;
}

.top h1{
	font-size:35px;
	font-weight:lighter;
	letter-spacing:-1px;
	color:#4192d4;
	text-shadow:0 1px 0 #000;
}

.content p{
	font-size:14px;
	color:#777;
	padding:4px;
	margin-top:10px;
}

.content ul{
	margin:20px;
	float:left;
}

.content li{
	line-height:25px;
}

.content ul li a{
	color:#057;
	font-size:14px;
}

.content ul li a:hover{
	text-decoration: underline;
}

#result{
    display: none;
    color: #555;
    background-color: #f2f2f2;
    font-weight: 600;
    border: solid #ccc 1px;
    width: 50%;
    margin: 0 auto;
    padding: 10px 10px;
}

.top h1 a{
	font-size:12px;
	font-style:italic;
	color:#aaa;
	text-shadow:none;	
}

.top h1 a:hover{
	text-decoration:underline;	
}

.content{
	width:100%;
	height:auto;
	min-height:270px;
	background: #fff;
	border:1px solid #ddd;
	border-top:1px dashed #fff;
	text-align:center;	
}

.footer{
	width:100%;
	height:200px;
	border:1px solid #ccc;
	border-bottom:2px solid #4192d4;
	background: #e4e4e4 url(../img/bg.png);
}

#fileNameSel {
    display: none;
}